<h3>@Calculator.Name</h3>

<DL Items="@Calculator.Properties" class="row">
    <DT>
        <label for="@context.Name" class="form-label">@context.Name - @context.Description</label>
    </DT>
    <DD>
        <input class="form-control" type="number" id="@context.Name" @bind-value="@context.Value"/>
    </DD>
</DL>

<button @onclick="OnCalculateClick" class="btn btn-primary">Рассчитать</button>

@code
{
    [Parameter]
    public CalculatorViewModel Calculator { get; set; }

    private void OnCalculateClick() { Calculator.Calculate(); }
}