<h3>@Calculator.Name</h3>

@foreach (var property in Calculator.Properties)
{
    <div class="row">
        <div class="col-5">
            <label for="@property.Name" class="form-label">@property.Name - @property.Description</label>
            <input class="form-control" type="number" id="@property.Name" @bind-value="@property.Value"/>
            <div class="invalid-feedback"></div>
        </div>
    </div>
}

<button @onclick="OnCalculateClick">Рассчитать</button>

@code
{
    [Parameter]
    public CalculatorViewModel Calculator { get; set; }

    private void OnCalculateClick() { Calculator.Calculate(); }
}